body {
  background-color: #ffa39c;
}

div {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: unset;
}

img.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav {
  right: 0;
  position: fixed;
}

.nav a {
  text-align: center;
  padding: 14px 16px;
  font-size: 32px;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: black;
}