div {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#introduction img {
  border-radius: 50%;
  height: 300px;
  width: 300px;

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.image-thumbnails img:hover {
  border: thick solid pink;
}

.top-nav {
  background-color: #02255e;
  overflow: hidden;
}

.top-nav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-size: 16px;
  color: whitesmoke;
}

.top-nav a:hover {
  background-color: lightgray;
  color: #02255e;
}

.top-nav a.active{
  background-color: #ed11b6;
  color: whitesmoke;
}